name: Deno

on:  
  push:
    tags:
      - '*.*.*'
      - '!*.*.*-'

permissions: read-all|write-all

jobs:
  test:
    runs-on: ubuntu-latest

    steps:
      - name: Setup repo
        uses: actions/checkout@master

      - name: Setup Deno
        # uses: denoland/setup-deno@v1
        uses: denoland/setup-deno@004814556e37c54a2f6e31384c9e18e983317366
        with:
          deno-version: v1.x

      # Uncomment this step to verify the use of 'deno fmt' on each commit.
      # - name: Verify formatting
      #   run: deno fmt --check
      - name: Find and Replace
        uses: jacobtomlinson/gha-find-replace@2.0.0
        with:
          find: "(\\bfrom\\s+[\"']\\..*)(\\.[jt]s|)(['\"])"
          replace: "$1.ts$3"
          include: "src/**, test/**"
          regex: true
      - name: Commit changes 
        uses: EndBug/add-and-commit@v9 # You can change this to use a specific version.
        with:
          add: '.'
          author_name: Github Workflows
          author_email: actions@github.com

          # The message for the commit.
          # Default: 'Commit from GitHub Actions (name of the workflow)'
          message: 'Bump Version to $GITHUB_REF'

          # If this input is set, the action will push the commit to a new branch with this name.
          # Default: ''
          new_branch: '$GITHUB_REF-deno'

          # Whether to push the commit and, if any, its tags to the repo. It can also be used to set the git push arguments (see the paragraph below for more info)
          # Default: true
          push: true

#       - name: Run linter
#         run: deno lint

#       - name: Run tests
#         run: deno test -A --unstable